
body {
    background: #081421;
    color: #d3d7de;
    font-family: "Courier new";
    font-size: 18px;
    line-height: 1.5em;
	cursor: default;
}

.indent1 {
    padding-left: 40px;
}
.multiline {
    padding-left: 210px;
}
footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 1px;
    float: right;
    width: 100%;
}

.code-area {
    position: absolute;
    width: 320px;
	min-width: 320px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.posts{
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    width: 100%
    height: 500px
}

.code-area > span {
    display: block;
}

@media screen and (max-width: 320px) {
    .code-area {
		font-size: 5vw;
		min-width: auto;
        width: 95%;
		margin: auto;
		padding: 5px;
		padding-left: 10px;
		line-height: 6.5vw;
    }
}

.alert {
    padding: 10px;
    background-color: #081e35; /* Blue */
    color: white;
    margin-bottom: 15px;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    border-radius: 25px;
    padding-left: 20px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    padding-top: 1px;
    padding-right: 20px;
    text-align: center;
  }

  .closebtn:hover {
      color: red;
  }

  a {
      color: inherit;
  }

  .changeview {
    position: absolute;
    background-color: #081e35;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    bottom: 5px;
    left: 5px;
  }

  .changeviewnotif {
    padding: 3px;
    padding-bottom: 10px;
    padding-top: 1px;
    min-width: 500px;
    height: 20px;
    position: absolute;
    background-color: #081e35; /* Blue */
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
    border-radius: 25px;
    text-align: center;
    bottom: 2px;
    left: 50px;
  }

  .viewclosebtn {
    position: absoulute;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    padding: 2px;
    padding-bottom: 1px;
  }

  .viewclosebtn:hover {
      color: red;
  }
