/* Original Pen: https://codepen.io/melnik909/pen/pQEazE */



@import "https://stas-melnikov.ru/r-blocks/r-button.css";
@import "https://stas-melnikov.ru/r-blocks/r-link.css";

/*
==========
CORE STYLES
==========
*/

.ai-element{
	--uiaiElementDisplay: var(--aiElementDisplay, inline-flex);	
	--uiaiElementPadding: var(--aiElementPadding, var(--aiElementPaddingTop, 0) var(--aiElementPaddingRight, 0) var(--aiElementPaddingBottom, 0) var(--aiElementPaddingLeft, 0));
	--uiaiElementColor: var(--aiElementColor);
	--uiaiElementColorHover: var(--aiElementColorHover);	

	display: var(--uiaiElementDisplay);
	position: relative;
	overflow: hidden;
}

a.ai-element{
	--rLinkColor: var(--uiaiElementColor, #fff);
	padding: var(--uiaiElementPadding);
}

button.ai-element{
	--rButtonPadding: var(--uiaiElementPadding);
	--rButtonColor: var(--uiaiElementColor, #fff);
}

a.ai-element:hover{
	--rLinkColor: var(--uiaiElementColorHover);
}

button.ai-element:hover{
	--rButtonColor: var(--uiaiElementColorHover);
}

/* 
Styles of elements with the border on all sides
*/ 

.ai-element_type1{
	--uiaiElementLineWeight: var(--aiElementLineWeight, 2px);
	--uiaiElementLineColor: var(--aiElementLineColor, #000);	
}

.ai-element_type1::before, 
.ai-element_type1::after{
	width: 100%;
	height: var(--uiaiElementLineWeight);
	left: 0;
}

.ai-element_type1::before{
	top: 0;
}

.ai-element_type1::after{
	bottom: 0;
}

.ai-element_type1 .ai-element__label::before,
.ai-element_type1 .ai-element__label::after{
	width: var(--uiaiElementLineWeight);
	height: 100%;
	top: 0;
}

.ai-element_type1 .ai-element__label::before{
	left: 0;
}

.ai-element_type1 .ai-element__label::after{
	right: 0;
}

.ai-element_type1::before,
.ai-element_type1::after,
.ai-element_type1 .ai-element__label::before,
.ai-element_type1 .ai-element__label::after{
	content: "";     
	background-color: var(--uiaiElementLineColor);
	position: absolute; 
	opacity: 1;

	will-change: transform, opacity;
	transition-property: opacity, -webkit-transform;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
}

.ai-element_type1:hover::before,
.ai-element_type1:hover::after,
.ai-element_type1:hover .ai-element__label::before,
.ai-element_type1:hover .ai-element__label::after{
	opacity: 0;
}

/* 
Styles of elements with the bottom border
*/ 

.ai-element_type2{
	--uiaiElementLineWeight: var(--aiElementLineWeight, 2px);
	--uiaiElementLineColor: var(--aiElementLineColor, #000);	
	--aiElementPaddingBottom: var(--uiaiElementLineWeight);	
	
	position: relative;
}

.ai-element_type2::after{
	content: "";
	width: 100%;
	height: var(--uiaiElementLineWeight);
	background-color: var(--uiaiElementLineColor);

	position: absolute;
	left: 0;
	bottom: 0;
}

/* 
Styles of elements with background
*/ 

.ai-element_type3 {
	--uiaiElementLineColor: var(--aiElementLineColor, #000);	
	--uiaiElementPadding: var(--aiElementPadding, 10px);
	transition: color .3s ease-out;
	z-index: 1;
}

.ai-element_type3::before, 
.ai-element_type3::after{
	content: "";
	background-color: var(--uiaiElementLineColor);	
	opacity: 1;
	position: absolute;
	z-index: -1;

	transition: opacity .35s ease-out .03s, -webkit-transform .35s ease-out;

	transition: transform .35s ease-out, opacity .35s ease-out .03s;

	transition: transform .35s ease-out, opacity .35s ease-out .03s, -webkit-transform .35s ease-out;
}

.ai-element_type3:hover::before, 
.ai-element_type3:hover::after{
	opacity: 0;
	transition-delay: 0s;
}

.ai-element_text::before{
	content: attr(data-ai-element-text);
	color: var(--uiaiElementColorHover);
	position: absolute;
}

.ai-element_text::before, 
.ai-element_text .ai-element__label{
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	transition-timing-function: cubic-bezier(.86, .6, .08, 1.01); 
	transition-duration: .4s;
}

.ai-element_text:hover::before,
.ai-element_text:hover .ai-element__label{
	transition-duration: .3s;
}

/*
==========
EFFECTS
==========
*/

/* effect 1 */

.ai-element1::before,
.ai-element1::after,
.ai-element1 .ai-element__label::before,
.ai-element1 .ai-element__label::after{
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
	transition-timing-function: ease-out;
	transition-duration: .2s, .15s;
}

.ai-element1:hover::before,
.ai-element1:hover::after,
.ai-element1:hover .ai-element__label::before,
.ai-element1:hover .ai-element__label::after{
	transition-duration: .25s;
}

.ai-element1:hover::before{
	-webkit-transform: translate3d(-105%, 0, 0);
	        transform: translate3d(-105%, 0, 0);
}

.ai-element1:hover::after{
	-webkit-transform: translate3d(105%, 0, 0);
	        transform: translate3d(105%, 0, 0);
}

.ai-element1:hover .ai-element__label::before{
	-webkit-transform: translate3d(0%, -100%, 0);
	        transform: translate3d(0%, -100%, 0);
}

.ai-element1:hover .ai-element__label::after{
	-webkit-transform: translate3d(0%, 100%, 0);
	        transform: translate3d(0%, 100%, 0);
}

/* effect 2 */

.ai-element2::after{
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
	transition: -webkit-transform .2s ease-in;
	transition: transform .2s ease-in;
	transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}

.ai-element2:hover::after{
	-webkit-transform: translate3d(-100%, 0, 0);
	        transform: translate3d(-100%, 0, 0);
}

/* effect 3 */

.ai-element3::after{
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
	transition: opacity .3s ease-out, -webkit-transform .3s ease-out;
	transition: transform .3s ease-out, opacity .3s ease-out;
	transition: transform .3s ease-out, opacity .3s ease-out, -webkit-transform .3s ease-out;
}

.ai-element3:hover::after{
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	        transform: translate3d(0, 100%, 0);
}

/* effect 4 */

.ai-element4::before,
.ai-element4::after,
.ai-element4 .ai-element__label::before,
.ai-element4 .ai-element__label::after{
	transition-timing-function: ease-out;
	transition-duration: .2s, .2s;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

.ai-element4:hover::before,
.ai-element4:hover::after,
.ai-element4:hover .ai-element__label::before,
.ai-element4:hover .ai-element__label::after{
	transition-delay: 0s, .05s;	
}

.ai-element4:hover::before{
	-webkit-transform: translate3d(-100%, 0, 0);
	        transform: translate3d(-100%, 0, 0);
}

.ai-element4:hover::after{
	-webkit-transform: translate3d(100%, 0, 0);
	        transform: translate3d(100%, 0, 0);
}

.ai-element4:hover .ai-element__label::before{
	-webkit-transform: translate3d(0, 100%, 0);
	        transform: translate3d(0, 100%, 0);
}

.ai-element4:hover .ai-element__label::after{
	-webkit-transform: translate3d(0, -100%, 0);
	        transform: translate3d(0, -100%, 0);
}

/* effect 5 */

.ai-element5::before,
.ai-element5::after, 
.ai-element5 .ai-element__label::before,
.ai-element5 .ai-element__label::after{
	transition-duration: .2s;
	transition-timing-function: ease-out;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

.ai-element5::before, 
.ai-element5::after{
	width: 100%;
	height: var(--uiaiElementLineWeight);
	left: 0;
}

.ai-element5 .ai-element__label::before,
.ai-element5 .ai-element__label::after{
	width: var(--uiaiElementLineWeight);
	height: 100%;
	top: 0;
}

.ai-element5::before{
	top: 0;
}

.ai-element5::after{
	bottom: 0;
}

.ai-element5 .ai-element__label::before{
	left: 0;
}

.ai-element5 .ai-element__label::after{
	right: 0;
}

.ai-element5:hover::before,
.ai-element5:hover .ai-element__label::before{
	transition-delay: 0s;
}

.ai-element5::after,
.ai-element5:hover .ai-element__label::after{
	transition-delay: .25s;
}

.ai-element5 .ai-element__label::after,
.ai-element5:hover::after{
	transition-delay: .15s;
}

.ai-element5 .ai-element__label::before,
.ai-element5:hover::before{
	transition-delay: .35s;
}

.ai-element5:hover::before{
	-webkit-transform: translate3d(-105%, 0, 0);
	        transform: translate3d(-105%, 0, 0);
}

.ai-element5:hover::after{
	-webkit-transform: translate3d(105%, 0, 0);
	        transform: translate3d(105%, 0, 0);
}

.ai-element5:hover .ai-element__label::before{
	-webkit-transform: translate3d(0, 105%, 0);
	        transform: translate3d(0, 105%, 0);
}

.ai-element5:hover .ai-element__label::after{
	-webkit-transform: translate3d(0, -105%, 0);
	        transform: translate3d(0, -105%, 0);
}

/* effect 6 */

.ai-element6::before,
.ai-element6::after{
	width: 50%;
	height: 100%;
	top: 0;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);  
}

.ai-element6::before{
	left: 0;
}

.ai-element6::after{
	right: 0;
}

.ai-element6:hover::before{
	-webkit-transform: translate3d(-100%, 0, 0);
	        transform: translate3d(-100%, 0, 0);
}

.ai-element6:hover::after{
	-webkit-transform: translate3d(100%, 0, 0);
	        transform: translate3d(100%, 0, 0);
}

/* effect 7 */

.ai-element7::before,
.ai-element7::after{
	width: 100%;
	height: 50%;
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

.ai-element7::before{
	top: 0;
}

.ai-element7::after{
	bottom: 0;
}

.ai-element7:hover::before{
	-webkit-transform: translate3d(0, -50%, 0);
	        transform: translate3d(0, -50%, 0);
}

.ai-element7:hover::after{
	-webkit-transform: translate3d(0, 50%, 0);
	        transform: translate3d(0, 50%, 0); 
}

/* effect 8 */

.ai-element8::before,
.ai-element8::after{
	width: 51%;
	height: 100%;
	-webkit-transform: rotate(0);
	        transform: rotate(0);
	top: 0;
}

.ai-element8::before{
	left: 0;
}

.ai-element8::after{
	right: 0;
}

.ai-element8:hover::before,
.ai-element8:hover::after{
	-webkit-transform: rotate(360deg);
	        transform: rotate(360deg);
}

/* effect 9 */

.ai-element9::before,
.ai-element9::after{
	width: 51%;
	height: 100%;
	top: 0; 
	-webkit-transform: translate3d(0, 0, 0); 
	        transform: translate3d(0, 0, 0);
}

.ai-element9::before{
	left: 0;
}

.ai-element9::after{
	right: 0;
}

.ai-element9:hover::before{
	-webkit-transform: translate3d(-100%, 0, 0) rotate(-45deg);
	        transform: translate3d(-100%, 0, 0) rotate(-45deg);
}

.ai-element9:hover::after{
	-webkit-transform: translate3d(100%, 0, 0) rotate(-45deg);
	        transform: translate3d(100%, 0, 0) rotate(-45deg);	
}

/*
SETTINGS
*/

.ai-element{
	--aiElementLineWeight: 5px;
	--aiElementLineColor: #243aab;
	--aiElementColor: #d5dbf8;
	--aiElementColorHover: #243aab;
}

.ai-element_type1,
.ai-element_type3{
	--aiElementPadding: 10px 15px;
}

.ai-element_type3{
	--aiElementColor: #fff;
}


/* ItsMMgamer Fucks Shit Up From now Forward */

.ai-element_discord {
    text-decoration: none;
    --aiElementLineWeight: 5px;
	--aiElementLineColor: #7289DA;
	--aiElementColor: black;
	--aiElementColorHover: #7289DA;
}


.ai-element_github {
    text-decoration: none;
    --aiElementLineWeight: 5px;
	--aiElementLineColor: #222222;
	--aiElementColor: black;
	--aiElementColorHover: #222222;
}

a {
	color: inherit;
	text-decoration: none;
}


.ai-element_external {
    text-decoration: none;
    --aiElementLineWeight: 5px;
	--aiElementLineColor: #222222;
	--aiElementColor: black;
	--aiElementColorHover: #222222;
}

.ai-element_gohome {
	text-decoration: none;
    --aiElementLineWeight: 5px;
	--aiElementLineColor: -webkit-linear-gradient(#FC5C7D, #6A82FB);
	--aiElementColor: black;
	--aiElementColorHover: -webkit-linear-gradient(#FC5C7D, #6A82FB);
}